<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Space</title>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/add.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script th:src="@{/js/add.js}"></script>
</head>
<body th:style="${'background-image:url(' + '/images/pageBack.png' + '); background-attachment: fixed;'}">
<ul class="liref">
    <li><a href="/">HOME</a></li>
    <li><a href="/games">GAMES</a></li>
    <li><a class="selected" href="/add">ADD GAME</a></li>
    <li><a href="/orders/all">ORDERS</a></li>
    <div class="log">
        <li><a href="/login">SIGN IN</a></li>

        <li><form method="post" th:action="@{/logout}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <button>LOGOUT</button>
        </form></li>
    </div>
</ul>

<div class="cont-center">
    <div class="w3-card-4" style="width:80%; background-color: rgba(100, 100, 100, 0.3);">

        <div class="w3-container w3-black w3-opacity w3-text-white neo-text">
            <h2><b>Add new game:</b></h2>
        </div>

        <form class="w3-container" method="post" enctype="multipart/form-data" th:object="${game}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">

            <h3>Title: </h3>
            <input class="w3-input w3-border" type="text" th:field="*{name}">
            <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>

            <h3>Genre: </h3>
            <input class="w3-input w3-border" type="text" th:field="*{genre}">
            <span class="error" th:if="${#fields.hasErrors('genre')}" th:errors="*{genre}"></span>

            <h3>Release Date: </h3>
            <input class="w3-input w3-border" type="date" th:field="*{date}">
            <span class="error" th:if="${#fields.hasErrors('date')}" th:errors="*{date}"></span>

            <h3>Developer: </h3>
            <input class="w3-input w3-border" type="text" th:field="*{dev}">
            <span class="error" th:if="${#fields.hasErrors('dev')}" th:errors="*{dev}"></span>

            <h3>Price: </h3>
            <input class="w3-input w3-border" type="number" min="0" step="1" th:field="*{price}">
            <span class="error" th:if="${#fields.hasErrors('price')}" th:errors="*{price}"></span>

            <h3>Description: </h3>
            <textarea class="w3-input w3-border" th:field="*{desc}" rows="5" cols="50" style="resize: none;"></textarea>
            <span class="error" th:if="${#fields.hasErrors('desc')}" th:errors="*{desc}"></span>

            <h3>Image: </h3>
            <input class="inputfile" id="img" type="file" accept="image/*" name="file">
            <label class="w3-btn w3-blue-grey" for="img">
                <span>Choose a file</span>
            </label>
            <br>
            <span class="error" th:if="${#fields.hasErrors('image')}" th:errors="*{image}"></span>

            <h3>Screenshots: </h3>
            <div id="screens"></div>
            <span class="error" th:if="${#fields.hasErrors('screens')}" th:errors="*{screens}"></span>

            <hr>

            <div class="w3-container w3-center" style="margin-bottom: 16px;">
                <button class="w3-btn w3-blue-grey">Add</button>
            </div>

        </form>
    </div>
</div>

</body>
</html>