<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Space</title>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/cart.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body th:style="${'background-image:url(' + '/images/pageBack.png' + '); background-attachment: fixed;'}">
<ul class="liref">
    <li><a href="/">HOME</a></li>
    <li><a href="/games">GAMES</a></li>
    <li sec:authorize="hasRole('ADMIN')"><a href="/add">ADD GAME</a></li>
    <li sec:authorize="isAuthenticated()"><a href="/orders/all">ORDERS</a></li>
    <div class="log" style="height: 100%;">
        <li sec:authorize="hasRole('USER')" style="height: 100%;">
            <a href="/cart" class="selected" style="height: 100%; padding: 5px;"><img class="cart" th:src="@{/images/cart.png}" alt="cart"></a>
        </li>

        <li sec:authorize="!isAuthenticated()"><a href="/login">SIGN IN</a></li>

        <li sec:authorize="isAuthenticated()"><a class="logName" href="/profile" sec:authentication="name"></a></li>
        <li sec:authorize="isAuthenticated()"><form method="post" th:action="@{/logout}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <button>LOGOUT</button>
        </form></li>
    </div>
</ul>


<section class="cont-center">
    <div class="w3-card-4" style="width:80%; background-color: rgba(100, 100, 100, 0.3);">
        <header class="w3-container w3-black w3-opacity w3-text-white w3-center neo-text">
            <h1 th:if="${order.games.size() > 0}">Your cart:</h1>
            <h1 th:if="${order.games.size() == 0}">Your cart is empty!</h1>
        </header>

            <table>
                <tr th:each="game, iter: ${order.games}">
                    <th><a th:href="'app/' + ${game.id} + '/' + ${game.name}" th:text="${game.name}"></a></th>
                    <td th:text="${game.price} + '$'"></td>

                    <td>
                        <form method="post" th:action="@{/cart/delete}">
                            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                            <input type="hidden" name="id" th:value="${iter.index}">
                            <div class="w3-container w3-center">
                                <button class="w3-btn w3-blue-grey">Delete</button>
                            </div>
                        </form>
                    </td>
                </tr>
                <tr>
                    <td colspan="3" th:if="${order.games.size() > 0}" th:text="${'Total price: ' + order.total_price + '$'}"></td>
                </tr>
            </table>

        <div th:if="${order.games.size() > 0}">
            <hr>
            <div class="w3-container w3-center" style="margin-bottom: 16px;">
                <a href="/orders/current" class="w3-btn w3-blue-grey">Make an order</a>
            </div>
        </div>

    </div>
</section>


</body>
</html>