<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Space</title>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/games.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body th:style="${'background-image:url(' + '/images/pageBack.png' + '); background-attachment: fixed;'}">
<ul class="liref">
    <li><a href="/">HOME</a></li>
    <li><a style="background-color: #009911;" href="/games">GAMES</a></li>
    <li><a href="/add">ADD GAME</a></li>
</ul>

<h1>List of Available Games:</h1>




</body>
</html>