<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Space</title>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
</head>
<body th:style="${'background-image:url(' + '/images/pageBack.png' + '); background-attachment: fixed;'}">

<ul class="liref">
    <li><a style="background-color: #009911;" href="/">HOME</a></li>
    <li><a href="/games">GAMES</a></li>
    <li><a href="/add">ADD GAME</a></li>
</ul>

<div class="cont-center">
    <div class="w3-card-4 w3-center" style="width:50%; background-color: rgba(100, 100, 100, 0.3);">
        <div class="w3-container w3-center " style="background-color: rgba(100, 100, 100, 0.5);">
            <h2 class="w3-opacity w3-text-black neo-text">
                <b>Welcome to the video games GameSpace shop!</b>
            </h2>
        </div>

        <img th:src="@{/images/GameSpace.png}" class="w3-image" alt="logo"/>
    </div>
</div>



</body>
</html>