<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Space</title>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/home.css}">
</head>
<body>
<ul class="liref">
    <li><a style="background-color: #009911;" href="/">HOME</a></li>
    <li><a href="/games">GAMES</a></li>
    <li><a href="/add">ADD GAME</a></li>
</ul>

    <h1>Welcome to</h1>
    <img th:src="@{/images/GameSpace.png}" alt="logo"/>

</body>
</html>