<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Game Space</title>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/orderList.css}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <script th:src="@{/js/pageable.js}"></script>
</head>
<body th:style="${'background-image:url(' + '/images/pageBack.png' + '); background-attachment: fixed;'}">
<ul class="liref">
    <li><a href="/">HOME</a></li>
    <li><a href="/games">GAMES</a></li>
    <li sec:authorize="hasRole('ADMIN')"><a href="/add">ADD GAME</a></li>
    <li sec:authorize="hasRole('ADMIN')"><a href="/users">USERS</a></li>
    <li sec:authorize="isAuthenticated()"><a class="selected" href="/orders/all">ORDERS</a></li>
    <div class="log" style="height: 100%;">
        <li sec:authorize="hasRole('USER')" style="height: 100%;">
            <a href="/cart" style="height: 100%; padding: 5px;"><img class="cart" th:src="@{/images/cart.png}" alt="cart"></a>
        </li>

        <li sec:authorize="!isAuthenticated()"><a href="/login">SIGN IN</a></li>

        <li sec:authorize="isAuthenticated()"><a class="logName" href="/profile" sec:authentication="name"></a></li>
        <li sec:authorize="isAuthenticated()"><form method="post" th:action="@{/logout}">
            <input type="hidden" name="_csrf" th:value="${_csrf.token}">
            <button>LOGOUT</button>
        </form></li>
    </div>
</ul>

<section class="cont-center">
    <div class="w3-card-4" style="width:80%; background-color: rgba(100, 100, 100, 0.3);">
        <header class="w3-container w3-black w3-opacity w3-text-white w3-center neo-text">
            <h1>Current Orders:</h1>
        </header>

        <section sec:authorize="hasRole('ADMIN')" class="w3-container w3-black w3-opacity w3-center">
            <form class="w3-container w3-center" method="get">

                <div class="search-table">
                    <input th:if="${orderid == -1}" class="search" type="number" name="orderid" min="0" placeholder="search">
                    <input th:unless="${orderid == -1}" class="search" type="number" name="orderid" min="0" th:value="${orderid}" placeholder="search">
                    <button style="height: 100%">
                        <img class="lens" th:src="@{/images/lens.png}" alt="search">
                    </button>
                </div>

            </form>
        </section>

        <div th:each="order: ${orders}">
            <table>
                <tr>
                    <td>Order ID</td>
                    <td th:text="${order.id}"></td>
                </tr>
                <tr>
                    <td>Name</td>
                    <td th:text="${order.name}"></td>
                </tr>
                <tr>
                    <td>City</td>
                    <td th:text="${order.city}"></td>
                </tr>
                <tr>
                    <td>Street</td>
                    <td th:text="${order.street}"></td>
                </tr>
                <tr>
                    <td>House</td>
                    <td th:text="${order.house}"></td>
                </tr>
                <tr>
                    <td>ccNumber</td>
                    <td th:text="${order.ccNumber}"></td>
                </tr>
                <tr>
                    <td>ccExpiration</td>
                    <td th:text="${order.ccExpiration}"></td>
                </tr>
                <tr>
                    <td>ccCVV</td>
                    <td th:text="${order.ccCVV}"></td>
                </tr>
                <tr>
                    <td>Ordered At</td>
                    <td th:text="${order.placedAt}"></td>
                </tr>
                <tr th:each="game, iter: ${order.games}">
                    <td th:text="'Game ' + ${iter.index + 1}"></td>
                    <td th:text="${game.name}"></td>
                </tr>
                <tr>
                    <td>Total price</td>
                    <td th:text="${order.total_price + '$'}"></td>
                </tr>
            </table>

            <div sec:authorize="hasRole('ADMIN')">
                <br>
                <form method="post" th:action="@{/orders/delete}">
                    <input type="hidden" name="_csrf" th:value="${_csrf.token}">
                    <input type="hidden" name="id" th:value="${order.id}">
                    <div class="w3-container w3-center" style="margin-bottom: 16px;">
                        <button class="w3-btn w3-blue-grey">Delete</button>
                    </div>
                </form>
            </div>

            <hr>
        </div>

        <footer id="pages" class="w3-bar w3-center w3-margin-bottom"></footer>
        <script th:inline="javascript">
            var cur = /*[[${currentPage}]]*/ 0;
            var count = /*[[${pageCount}]]*/ 0;
            drawPages(cur, count, "/orders/all/");
        </script>

    </div>
</section>


</body>
</html>