<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Game Space</title>
    <link rel="stylesheet" th:href="@{/styles/header.css}">
    <link rel="stylesheet" th:href="@{/styles/orderForm.css}">
</head>
<body>
<ul class="liref">
    <li><a href="/">HOME</a></li>
    <li><a href="/games">GAMES</a></li>
    <li><a href="/add">ADD GAME</a></li>
</ul>

<form method="post" th:action="@{/orders}" th:object="${order}">
    <h1>Order your game!</h1>

    <div th:if="${#fields.hasErrors()}">
        <span class="error">Please correct the problems below and resubmit.</span>
    </div>

    <h3>Deliver a game to: </h3>
    <label> Name:
        <input type="text" th:field="*{name}">
    </label>
    <span class="error" th:if="${#fields.hasErrors('name')}" th:errors="*{name}"></span>
    <br>

    <label> City:
        <input type="text" th:field="*{city}">
    </label>
    <span class="error" th:if="${#fields.hasErrors('city')}" th:errors="*{city}"></span>
    <br>

    <label> Street:
        <input type="text" th:field="*{street}">
    </label>
    <span class="error" th:if="${#fields.hasErrors('street')}" th:errors="*{street}"></span>
    <br>

    <label> House:
        <input type="text" th:field="*{house}">
    </label>
    <span class="error" th:if="${#fields.hasErrors('house')}" th:errors="*{house}"></span>
    <br>

    <h3>Here is how you will pay: </h3>
    <label> ccNumber:
        <input type="text" th:field="*{ccNumber}">
    </label>
    <span class="error" th:if="${#fields.hasErrors('ccNumber')}" th:errors="*{ccNumber}"></span>
    <br>

    <label> ccExpiration:
        <input type="text" th:field="*{ccExpiration}">
    </label>
    <span class="error" th:if="${#fields.hasErrors('ccExpiration')}" th:errors="*{ccExpiration}"></span>
    <br>

    <label> ccCVV:
        <input type="text" th:field="*{ccCVV}">
    </label>
    <span class="error" th:if="${#fields.hasErrors('ccCVV')}" th:errors="*{ccCVV}"></span>
    <br>

    <br><br><hr>
    <input type="submit" value="Submit Order">

</form>


</body>
</html>