.error {
    color: red;
}

.cont-center {
    overflow: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px;
}

.neo-text {
    text-shadow: 0px 0px 4px deepskyblue;
}

.inputfile {
    display: none;
}